@import "./styles/app/variables";

$block: "utils";

.#{$block} {
	&--uppercase {
		text-transform: uppercase;
	}

	&--capitalize {
		text-transform: capitalize;
	}

	&--truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--hideFocus:focus{
		outline: none;
	}
}

@keyframes loading-platform {
	to {
		background-position:
			350% 0,
			var(--title-position),
			var(--subtitle-1-position),
			var(--avatar-position),
			0 0
		;
	}
}