<mat-sidenav-container class="app"
											 (dragover)="$event.preventDefault()"
											 (drop)="$event.preventDefault()"
											 (backdropClick)="onBackDropClick()">
	<mat-sidenav class="app__sidenav"
							 #sidenav
							 [disableClose]="true"
							 [attr.role]="'dialog'"
							 [opened]="false"
							 [position]="'end'"
							 [autoFocus]="true"
							 [fixedInViewport]="true"
							 [fixedTopGap]="0"
							 [fixedBottomGap]="0"
							 (keydown.escape)="onKeyDownEscape()">
		<aside class="app__aside">
			<div class="app__aside-portal-outlet"
					 id="sidenav-portal-outlet"
					 cdkPortalOutlet></div>
		</aside>
	</mat-sidenav>
	<mat-sidenav-content class="app__content">
		<app-navbar></app-navbar>
		<main class="app__main">
			<router-outlet></router-outlet>
		</main>
	</mat-sidenav-content>
</mat-sidenav-container>