@import 'variables';

$block : 'games';

.#{$block} {
	height: 100%;
	overflow-y: scroll;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 22px;
	}
	
	&__title {
		margin-bottom: 0;
		color: $color_grey_700;
		font-size: 18px;
		font-weight: 500;
		user-select: none;
	}

	&__list {
		margin-top: $separation-24;
		display: block;
	}
}
